.venv/
__pycache__/
*.pyc

.env

.idea
.vscode/

data/raw/
data/interim/
data/processed/
data/*.csv
data/*.json
data/*.jsonl
data/*.ndjson

!data/sample/
!data/sample/.gitkeep

redis_data/
dump.rdb
appendonly.aof
appendonlydir/



.pytest_cache/
.coverage
htmlcov/